<div class="container-fluid">
    <div class="row">
        <div class="col-lg-10 col-md-10">
            <h1> My Weather</h1>

        </div>
        <div class="col-lg-2 col-md-2">
            <button class="btn btn-primary float-right" data-toggle="modal" data-target="#enterModal">Add
                Location</button>

        </div>
        <hr />
    </div>
    <div class="row">

        <div routerLink="/detail" *ngFor="let x of weatherObj.list" class="col-lg-3 col-md-4 p-3">
            <div class="weathercard rounded mx-3">
                <div class="text-center top-pad">
                    <h5>Weather Summay</h5>
                    <div>{{x.name}}</div>
                    <div>{{(x.main.temp -273.15)| number : '1.0-1'}} &deg;C</div>
                    <div>{{convertF(x.main.temp) | number : '1.0-1'}} &deg;F</div>
                    <div><img src="http://openweathermap.org/img/wn/{{x.weather[0].icon}}@2x.png" /></div>
                </div>
            </div>
        </div>


    </div>
</div>


<!-- ____________________________________________________ -->

<div class="modal" id="enterModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->

            <div class="modal-header">
                <h4 class="modal-title">Enter zip code of a city</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">


                <label>Zip Code</label>
                <input class="form-control" placeholder="Enter Zip Code" [(ngModel)]="zipCode"
                    (keyup.enter)="Submit(zipCode)">
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">
                    Close
                </button>
                <button (click)="Submit(zipCode)" type="button" class="btn btn-danger" data-dismiss="modal">
                    Submit
                </button>
            </div>

        </div>
    </div>
</div>